/* BASE STYLES */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@200&family=Poppins:wght@400;600&display=swap');

body, .index-body, .auth-body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.row {
  margin: 0px;
}

/* HEADINGS */

h1 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 200;
}

.small-h1 {
  font-size: 1.7rem;
  font-family: 'Libre Baskerville', serif;
  font-weight: 200;
}

h3 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 200;
}

.section-heading {
  font-size: 2.5rem;
  line-height: 3.5rem;
}

h4 {
  font-size: 1.1rem;
  font-weight: 600;
}

/* TEXT STYLES */

.section-text {
  font-size: 0.9rem;
}

.text-muted {
  color: grey;
  font-size: 0.9rem;
  font-family: 'Poppins', sans-serif;
}

.tag {
  font-size: 0.7rem;
  background-color: white;
  border: 1px solid rgb(185, 185, 185);
  display: inline;
  padding: 5px 7px 5px 7px;
  border-radius: 100px;
}

/* BUTTONS */

.button-base {
  border-radius: 100px;
  padding: 10px 25px;
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
  border: none;
  font-family: 'Poppins', sans-serif;
}

.cta-button {
  background-color: #E1F44B;
  color: black;
}

.scn-button {
  background-color: #2A2722;
  color: white;
}

.logged-in-body .cta-button {
  font-size: 0.9rem;
}

.cta-button:hover {
  background-color: #cbdf3b;
}

.scn-button:hover {
  background-color: #58544c;
  color: white;
}

.base-link {
  text-decoration: none;
  color: #5453EC;
  font-weight: 600;
}

.base-link:hover {
  color: #8888f7;
}

/* IMAGES */

.section-img {
  border-radius: 20px;
  border: 1px solid #EBD9C1
}

/* HEADER */

header {
  border-bottom: 0px;
  height: 70px;
}

.logo-img {
  width: 110px;
}

.profile-pic {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

/* HERO SECTION */

.hero-container {
  position: relative;
  background-image: url('../media/images/selekt-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0px 0px 30px 30px;
  height: 1000px;
  overflow: hidden;
}


.overlay-shadow {
  position: absolute;
  inset: 0;
  z-index: 10; 
  pointer-events: none; 
  box-shadow: inset 0 0px 50px -10px rgba(0,0,0,0.3);
}

.hero h1 {
  font-size: 3.5rem;
}

.hero {
  padding: 80px 20px;
  text-align: center;
  max-width: 800px;
}

.hero-text {
  margin: 0 auto 40px;
  font-size: 1rem;
  color: #555;
  line-height: 1.7rem;
}

/* INDEX PAGE */

.step-box {
  background-color: #f7fbe5;
  border: 1px solid #e2f299;
  padding: 30px 40px;
  border-radius: 15px;
  height: 100%;
}

.step-box i {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.step-title {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.step-text {
  font-size: 0.95rem;
  color: #444;
}

.cta-background {
  background-image: url('../media/images/selekt-background.png');
  background-size: cover;
  background-position: bottom;
  padding: 100px 40px;
  border-radius: 20px;
  border: 1px solid #e2f299;
}

/* FOOTER */

.custom-footer {
  background-color: #1e1b17;
  padding-top: 60px;
  margin-top: 100px;
}

.footer-logo {
  width: 200px;
}

.footer-bottom {
  background-color: #2a2723;
  padding: 15px;
  font-size: 0.8rem;
  color: #ccc;
}

.footer-link {
  color: #ccc;
  text-decoration: underline;
}

.footer-link:hover {
  color: #fff;
  text-decoration: none;
}

.heart {
  color: red;
}

/* CANDIDATE CARDS */

.candidate-card-wrapper {
  flex: 1 1 360px; /* min 360px, väx uppåt */
  max-width: 100%; /* för att inte klippa på mindre skärmar */
  min-width: 360px;
}

.candidate-card {
  min-width: 100%; /* fyller wrappern */
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}

.candidate-card .text-muted {
  font-size: 0.8rem;
}

.candidate-card hr {
  color: grey;
}

.candidate-card img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.skill-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.4rem;
  overflow: hidden;
  max-width: 100%;
  align-items: center;
}

.skill-badge-extra,
.skill-badge {
  background-color: #fef6ed;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 0.75rem;
  white-space: nowrap;
  flex-shrink: 0;
  border: 1px solid #EBD9C1;
}

.skill-badge-modal {
  background-color: #fef6ed;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 0.85rem;
}

.read-btn {
  font-size: 0.8rem;
  font-weight: 500;
}

/* Heart */
.heart-icon {
  font-size: 1.1rem;
  color: #E94C82;
  background: #f7f5ef;
  padding: 7px 10px;
  border-radius: 10px;
}

/* Dot menu */
.dot-menu {
  display: flex;
  gap: 4px;
}

.dot {
  width: 4px;
  height: 4px;
  background-color: #7a7a7a;
  border-radius: 50%;
}

/* AUTH LAYOUT */

.auth-body {
  background-color: #fff;
  font-family: 'Inter', sans-serif;
}

.auth-form-wrapper {
  max-width: 450px;
  margin: auto;
  width: 70%;
}

.object-fit-cover {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.auth-img {
  height: 100vh;
  padding: 0px;
}

/* FORMS */


.auth-form label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.25rem;
  font-family: 'Poppins', sans-serif;
}

.auth-form input {
  width: 100%;
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f5f5f5;
  font-size: 1rem;
}

.auth-form .helptext {
  font-size: 0.7rem;
  color: grey;
}

.auth-form ul {
  font-size: 0.7rem;
  color: grey;
  padding-left: 15px;
}

/* SEARCH AND FILTER */

.candidate-search input{
  background-color: #EFEFEF;
  border-radius: 100px;
}

.candidate-search input:focus{
  background-color: #EFEFEF;
  border-color: #5453EC;
}

.candidate-search .btn {
  height: 48px;
  width: 48px;
}

.sort-form select {
  border-radius: 100px;
  font-size: 0.8rem;
  border-color: rgb(189, 189, 189);
}

.favorites-toggle {
  border-radius: 100px;
  font-size: 0.8rem;
  border-color: rgb(192, 192, 192);
}


/* CANDIDATE MODALS */

.modal-candidate {
  bottom: 0;
  transform: translateX(-50%);
  height: 90vh;
  bottom: 0;
  width: 80vw;
  max-width: 1400px;
  position: fixed;
  left: 10%;
  right: 10%;
  bottom: 0;
}

.modal-candidate img {
  width: 20%;
  max-width: 450px;
  min-width: 100px;
  border-radius: 100px;
}

.candidate-modal-content {
  height: 100%;
  overflow-y: auto;
  border-radius: 16px 16px 0 0;
  padding: 2rem;
  align-items: end;
}

.modal-content {
  border-radius: 16px 0px;
  padding: 0px;
}

.modal-body {
  padding: 0px;
  width: 100%;
  margin: auto;
}

.modal-dialog-centered {
  align-items: center;
  display: flex;
  min-height: calc(100% - 1rem);
}

.modal.fade .modal-dialog {
  transform: translateY(100px);
  transition: transform 0.3s ease-out, opacity 0.3s ease;
  opacity: 0;
}

.modal.fade.show .modal-dialog {
  transform: translateY(0);
  opacity: 1;
}

.delete-candidate-modal-content {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border: 0;
}

body.modal-open #deleteCandidateModal + .modal-backdrop {
  background-color: transparent !important;
  opacity: 0 !important;
}

.modal-candidate .fav-button {
  font-size: 0.9rem;
  color: black;
  background-color: white;
  border: 0px;
}

.modal-candidate .fav-button i {
  color: #E94C82;
  margin-right: 10px;
}

.modal-candidate .fav-button:active {
  background-color: white;
  color: black;
}

.modal-candidate .edit-button {
  font-size: 0.9rem;
}

.modal-candidate .delete-button {
  font-size: 0.9rem;
}

.modal-header {
  border: 0px;
}

.welcome-image {
  width: 90%;
  max-width: 250px;
}

.candidate-modal-profile {
  padding: 10px 70px 70px 70px;
  border-bottom: 1px solid #dbdbdb;
}

.candidate-modal-information {
  padding: 30px 70px 70px;
  overflow: hidden;
}

.left-candidate-column {
  width: 70%;
  padding-right: 40px;
}

.right-candidate-column {
  width: 30%;
  background-color: #f0f0f0;
  border-radius: 15px;
  padding: 30px;
}

.nav-tabs {
  border: 0px;
  padding: 0px;
  margin: 0px;
}

.nav-tabs .nav-link {
  border-bottom: 2px;
  padding: 6px 16px;
  margin-right: 0px;
  color: #333;
  font-size: 0.85rem;
  transition: 0.3s;
  border: 0px;
  margin-left: 0px;
}

/* Hover-effekt */
.nav-tabs .nav-link:hover {
  color: #000;
}

/* Aktiv tabb */
.nav-tabs .nav-link.active {
  border-bottom: 2px solid black;
  font-weight: 500;
}

/* CANDIDATE CARD DROPDOWN */

.dot-menu-dropdown {
  min-width: 120px;
  z-index: 1000;
}

.dot-menu-dropdown a,
.dot-menu-dropdown button {
  display: block;
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
}

.dot-menu-dropdown button:hover,
.dot-menu-dropdown a:hover {
  background-color: #f8f9fa;
}

/* OTHER STYLES */

.empty-state-image {
  width: 100%;
  max-width: 150px;
  height: auto;
  margin-bottom: 30px;
}

/* DASHBOARD */

.nav-link.active {
  border-bottom: 3px solid black;
  color: black;
}

.nav-link {
  padding: 5px;
  font-size: 0.8rem;
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(97, 97, 97);
}

.clear-button {
margin-right: 70px;
background-color: transparent;
border: 0px;
}

.clear-button:hover {
  background-color: transparent;
  color: black;
  }


.page-item .page-link {
  color: #333;     
  border: 0px;
  font-size: 0.8rem;
}

.page-item .page-link:hover {
  background-color: #ffffff;
  color: #000;
}

.page-item.active .page-link {
  background-color: #e7e7e7; 
  color: #000;
  border: 0px;
  border-radius: 100px;
}

.page-link:active {
  background-color: inherit !important;
  box-shadow: none !important;
  transform: none !important;
}

/* MEDIA QUERIES */

@media (max-width: 360px) {

  .candidate-card-wrapper {
    width: 100%;
    min-width: 100%;
  }

  .heart-icon {
    display: none;
  }

  .skill-container {
    display: none;
  }
}


@media (max-width: 900px) {
  #sortForm,
  #favoritesToggle {
    width: 100%;
    justify-content: center;
  }

  .tab-tabs {
    order: 1;
    width: 100%;
    padding-bottom: 30px;
  }
  
  .tab-sorting {
    width: 40%;
    margin-right: 10%;
      order: 2;
    }

    .tab-fav {
      margin-left: 10%;
      order: 3;
      width: 40%;
      text-align: right;
    }

    .candidate-modal-image {
      border: 1px solid red;
      display: block !important;
    }
    
    .candidate-modal-buttons {
      border: 1px solid blue;
      position: absolute;
      right: 30px;
    }
      
    .candidate-modal-name {
      border: 1px solid rgb(0, 255, 157);
      order: 3;
      width: 100%;
      margin-top: 20px;
    }
  
    .candidate-modal-profile {
      border: 1px solid green;
      padding: 30px;
    }

    .edit-button,
    .delete-button {
      background-color: #F7F5EF;
      padding: 5px 10px;
      border-radius: 7px;
      color: black;
      width: 40px;
    }

    .edit-button i,
    .delete-button i {
font-size: 0.8rem;
    }
    
    .modal-candidate .fav-button i {
      font-size: 0.8rem;
      padding: 0px;
      margin: 0px;
    }


  }

  
@media (max-width: 767px) {

  .tab-tabs {
    order: 3;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .tab-sorting {
    width: 100%;
      order: 2;
      margin-right: 0;
    }

    .tab-fav {
      order: 1;
      width: 100%;
      margin-left: 0;
      text-align: right;
    }

    .candidate-search input{
      font-size: 0.8rem;
    }

    .logged-in-body .cta-button {
    font-size: 0.7rem;
    padding: 10px;
    }

.logo-img {
  width: 100%;
  max-width: 100px;
  padding-right: 10px;
}

.header-logo {
  width: 30%;
}
}


  
  
@media (max-width: 1540px) {

  .label-desktop {
    display: none;
  }

.edit-button,
.delete-button {
  background-color: #F7F5EF;
  padding: 10px 15px;
  border-radius: 7px;
  color: black;
}

.edit-button:hover,
.delete-button:hover {
  background-color: #e7e7e6;
  color: black;

}

.modal-candidate .fav-button i {
  font-size: 1.4rem;
  padding: 0px;
  margin: 0px;
}

  }
