/* BASE STYLES */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@200&family=Poppins:wght@400;600&display=swap');

body, .index-body, .auth-body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1100px;
  margin: auto;
}

/* HEADINGS */

h1 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 200;
}

.small-h1 {
  font-size: 1.7rem;
  font-family: 'Libre Baskerville', serif;
  font-weight: 200;
}

h3 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 200;
}

.section-heading {
  font-size: 2.5rem;
  line-height: 3.5rem;
}

h4 {
  font-size: 1.1rem;
  font-weight: 600;
}

/* TEXT STYLES */

.section-text {
  font-size: 0.9rem;
}

.text-muted {
  color: grey;
  font-size: 0.8rem;
  font-family: 'Poppins', sans-serif;
}

.tag {
  font-size: 0.7rem;
  background-color: white;
  border: 1px solid rgb(185, 185, 185);
  display: inline;
  padding: 5px 7px 5px 7px;
  border-radius: 100px;
}

/* BUTTONS */

.button-base {
  border-radius: 100px;
  padding: 10px 25px;
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
  border: none;
  font-family: 'Poppins', sans-serif;
}

.cta-button {
  background-color: #E1F44B;
  color: black;
}

.scn-button {
  background-color: #2A2722;
  color: white;
}

.logged-in-body .cta-button {
  font-size: 0.9rem;
}

.cta-button:hover {
  background-color: #cbdf3b;
}

.scn-button:hover {
  background-color: #58544c;
  color: white;
}

.base-link {
  text-decoration: none;
  color: #5453EC;
  font-weight: 600;
}

.base-link:hover {
  color: #8888f7;
}

/* IMAGES */

.section-img {
  border-radius: 20px;
  border: 1px solid #EBD9C1
}

/* HEADER */

header {
  border-bottom: 0px;
  height: 70px;
}

.logo-img {
  width: 110px;
}

.profile-pic {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

/* HERO SECTION */

.hero-container {
  position: relative;
  background-image: url('../media/images/selekt-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0px 0px 30px 30px;
  height: 1000px;
  overflow: hidden;
}


.overlay-shadow {
  position: absolute;
  inset: 0;
  z-index: 10; 
  pointer-events: none; 
  box-shadow: inset 0 0px 50px -10px rgba(0,0,0,0.3);
}

.hero h1 {
  font-size: 3.5rem;
}

.hero {
  padding: 80px 20px;
  text-align: center;
  max-width: 800px;
}

.hero-text {
  margin: 0 auto 40px;
  font-size: 1rem;
  color: #555;
  line-height: 1.7rem;
}

/* INDEX PAGE */

.step-box {
  background-color: #f7fbe5;
  border: 1px solid #e2f299;
  padding: 30px 40px;
  border-radius: 15px;
  height: 100%;
}

.step-number {
  width: 36px;
  height: 36px;
  background-color: #d6f013;
  color: black;
  font-weight: 700;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  font-size: 1rem;
}

.step-title {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.step-text {
  font-size: 0.95rem;
  color: #444;
}



/* CANDIDATE CARDS */


.candidate-card {
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  position: relative;
}

.candidate-card hr {
  color: grey;
}

.candidate-card img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.skill-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.4rem;
  overflow: hidden;
  max-width: 100%;
  align-items: center;
}

.skill-badge {
  background-color: #fef6ed;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 0.75rem;
  white-space: nowrap;
  flex-shrink: 0;
}

.skill-badge-modal {
  background-color: #fef6ed;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 0.85rem;
}

.skill-badge-extra {
  background-color: #fce5cd;
  font-weight: 500;
}

.read-btn {
  font-size: 0.8rem;
  font-weight: 500;
}

/* Heart */
.heart-icon {
  font-size: 1.1rem;
  color: #E94C82;
  background: #f7f5ef;
  padding: 7px 10px;
  border-radius: 10px;
}

/* Dot menu */
.dot-menu {
  display: flex;
  gap: 4px;
}

.dot {
  width: 4px;
  height: 4px;
  background-color: #7a7a7a;
  border-radius: 50%;
}

/* AUTH LAYOUT */

.auth-body {
  background-color: #fff;
  font-family: 'Inter', sans-serif;
}

.auth-form-wrapper {
  max-width: 450px;
  margin: auto;
  width: 70%;
}

.object-fit-cover {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.auth-img {
  height: 100vh;
  padding: 0px;
}

/* FORMS */


.auth-form label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.25rem;
  font-family: 'Poppins', sans-serif;
}

.auth-form input {
  width: 100%;
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f5f5f5;
  font-size: 1rem;
}

.auth-form .helptext {
  font-size: 0.7rem;
  color: grey;
}

.auth-form ul {
  font-size: 0.7rem;
  color: grey;
  padding-left: 15px;
}

/* SEARCH AND FILTER */

.candidate-search input{
  background-color: #EFEFEF;
  border-radius: 100px;
}

.candidate-search input:focus{
  background-color: #EFEFEF;
  border-color: #5453EC;
}

.candidate-search .btn {
  height: 48px;
  width: 48px;
}

/* CANDIDATE MODALS */

.modal-candidate {
  bottom: 0;
  transform: translateX(-50%);
  height: 90vh;
  bottom: 0;
  width: 80vw;
  max-width: 1400px;
  position: fixed;
  left: 10%;
  right: 10%;
  bottom: 0;
}

.modal-candidate img {
  width: 20%;
  max-width: 450px;
  min-width: 100px;
  border-radius: 100px;
}

.candidate-modal-content {
  height: 100%;
  overflow-y: auto;
  border-radius: 16px 16px 0 0;
  padding: 2rem;
}

.modal-dialog-centered {
  align-items: end;
}

.modal.fade .modal-dialog {
  transform: translateY(100px);
  transition: transform 0.3s ease-out, opacity 0.3s ease;
  opacity: 0;
}

.modal.fade.show .modal-dialog {
  transform: translateY(0);
  opacity: 1;
}

.delete-candidate-modal-content {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border: 0;
}

body.modal-open #deleteCandidateModal + .modal-backdrop {
  background-color: transparent !important;
  opacity: 0 !important;
}

/* CANDIDATE CARD DROPDOWN */

.dot-menu-dropdown {
  min-width: 120px;
  z-index: 1000;
}

.dot-menu-dropdown a,
.dot-menu-dropdown button {
  display: block;
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
}

.dot-menu-dropdown button:hover,
.dot-menu-dropdown a:hover {
  background-color: #f8f9fa;
}