/* =====================================
   BASE IMPORTS & GLOBAL STYLES
====================================== */

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@200&family=Poppins:wght@400;600&display=swap');

body,
.index-body,
.auth-body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.row {
  margin: 0;
}

/* =====================================
   HEADINGS
====================================== */

h1, h2, h3, h5 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 200;
}

h1 { 
  font-weight: 200; 
}

.small-h1 { 
  font-size: 1.7rem; 
}

h2 { 
  font-weight: 300; 
}

h4 { 
  font-size: 1.1rem; 
  font-weight: 600; 
}

h5 { 
  line-height: 2rem; 
}

.section-heading {
  font-size: 2.5rem;
  line-height: 3.5rem;
}

/* =====================================
   TEXT STYLES
====================================== */

.section-text,
.text-muted {
  font-size: 0.9rem;
}

.text-muted {
  color: grey;
}

.tag {
  font-size: 0.7rem;
  background-color: white;
  border: 1px solid rgb(185, 185, 185);
  display: inline;
  padding: 5px 7px;
  border-radius: 100px;
}

/* =====================================
   BUTTONS
====================================== */

.button-base {
  border-radius: 100px;
  padding: 10px 25px;
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
  border: none;
  font-family: 'Poppins', sans-serif;
}

.cta-button {
  background-color: #E1F44B;
  color: black;
}

.cta-button:hover {
  background-color: #cbdf3b;
}

.scn-button {
  background-color: #2A2722;
  color: white;
}

.scn-button:hover {
  background-color: #58544c;
  color: white;
}

.outline-button {
  background-color: #ffffff;
  color: #2A2722;
  border: 1px solid #2A2722;
}

.outline-button:hover {
  background-color: #f0f0f0;
  color: #2A2722;
  border: 1px solid #2A2722;
}

.logged-in-body .cta-button {
  font-size: 0.9rem;
}

.base-link {
  text-decoration: underline;
  color: #2A2722;
  font-weight: 600;
}

.base-link:hover {
  color: #383531;
}

/* =====================================
   HEADER
====================================== */

header {
  border-bottom: 0px;
  height: 70px;
}

.logo-img {
  width: 110px;
}

.profile-pic {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.dropdown-item:active {
  background-color: grey;
  }

/* =====================================
   INDEX PAGE
====================================== */

.hero-container {
  position: relative;
  background-image: url('../media/images/selekt-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0px 0px 30px 30px;
  height: 1000px;
  overflow: hidden;
}


.overlay-shadow {
  position: absolute;
  inset: 0;
  z-index: 10; 
  pointer-events: none; 
  box-shadow: inset 0 0px 50px -10px rgba(0,0,0,0.3);
}

.hero {
  padding: 80px 20px;
  text-align: center;
  max-width: 800px;
}

.hero h1 {
  font-size: 3.5rem;
}

.hero-text {
  margin: 0 auto 40px;
  font-size: 1rem;
  color: #555;
  line-height: 1.7rem;
}

.step-box {
  background-color: #f7fbe5;
  border: 1px solid #e2f299;
  padding: 30px 40px;
  border-radius: 15px;
  height: 100%;
}

.step-box i {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.step-title {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.step-text {
  font-size: 0.95rem;
  color: #444;
}

.cta-background {
  background-image: url('../media/images/selekt-background.png');
  background-size: cover;
  background-position: bottom;
  padding: 100px 40px;
  border-radius: 20px;
  border: 1px solid #e2f299;
}

.section-img {
  border-radius: 20px;
  border: 1px solid #EBD9C1
}

/* =====================================
   FOOTER
====================================== */

.custom-footer {
  background-color: #1e1b17;
  padding-top: 60px;
  margin-top: 100px;
}

.footer-logo {
  width: 200px;
}

.footer-bottom {
  background-color: #2a2723;
  padding: 15px;
  font-size: 0.8rem;
  color: #ccc;
}

.footer-link {
  color: #ccc;
  text-decoration: underline;
}

.footer-link:hover {
  color: #fff;
  text-decoration: none;
}

.heart {
  color: red;
}

/* =====================================
   CANDIDATE CARDS
====================================== */

.candidate-card-wrapper {
  flex: 1 1 360px;
  max-width: 100%;
  min-width: 360px;
}

.candidate-card {
  min-width: 100%;
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}

.text-small {
  font-size: 0.8rem;
}

.read-btn {
  font-size: 0.8rem;
  font-weight: 500;
}

.candidate-card .text-muted {
  font-size: 0.8rem;
}

.candidate-card hr,
.candidate-modal-information hr {
  color: grey;
}

.candidate-modal-information hr {
  margin: 50px 0;
}

.candidate-card img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.skill-container,
.skill-container-modal {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  max-width: 100%;
}

.skill-container {
  flex-wrap: nowrap;
  overflow: hidden;
}

.skill-container-modal {
  flex-wrap: wrap;
  gap: 0.5rem;
}

.skill-badge,
.skill-badge-extra,
.skill-badge-modal {
  background-color: #fef6ed;
  padding: 4px 10px;
  border-radius: 20px;
  border: 1px solid #EBD9C1;
  white-space: nowrap;
}

.skill-badge,
.skill-badge-extra {
  font-size: 0.75rem;
  flex-shrink: 0;
}

.skill-badge-modal {
  font-size: 0.8rem;
}

.no-break {
  white-space: nowrap !important;
}

.heart-icon {
  font-size: 1.1rem;
  color: #E94C82;
  background: #f7f5ef;
  padding: 7px 10px;
  border-radius: 10px;
}

.dot-menu {
  display: flex;
  gap: 4px;
  cursor: pointer;
}

.dot {
  width: 4px;
  height: 4px;
  background-color: #7a7a7a;
  border-radius: 50%;
}


.dot-menu-dropdown {
  min-width: 120px;
  z-index: 1000;
}

.dot-menu-dropdown a,
.dot-menu-dropdown button {
  display: block;
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
}

.dot-menu-dropdown button:hover,
.dot-menu-dropdown a:hover {
  background-color: #f8f9fa;
}

/* =====================================
   AUTH PAGES STYLING
====================================== */

.auth-body {
  background-color: #fff;
  font-family: 'Inter', sans-serif;
}

.auth-form-wrapper {
  max-width: 450px;
  margin: auto;
  width: 70%;
}

.object-fit-cover {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.auth-img {
  height: 100vh;
  padding: 0px;
}

.auth-form label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.25rem;
  font-family: 'Poppins', sans-serif;
}

.auth-form input {
  width: 100%;
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f5f5f5;
  font-size: 1rem;
}

.auth-form .helptext {
  font-size: 0.7rem;
  color: grey;
}

.auth-form ul {
  font-size: 0.7rem;
  color: grey;
  padding-left: 15px;
}

/* =====================================
   SEARCH AND FILTER
====================================== */

.candidate-search input{
  background-color: #EFEFEF;
  border-radius: 100px;
}

.candidate-search input:focus{
  background-color: #EFEFEF;
  border-color: #5453EC;
}

.candidate-search .btn {
  height: 48px;
  width: 48px;
}

.sort-form select {
  border-radius: 100px;
  font-size: 0.8rem;
  border-color: rgb(189, 189, 189);
}

.favorites-toggle {
  border-radius: 100px;
  font-size: 0.8rem;
  border-color: rgb(192, 192, 192);
}

/* =====================================
   MODALS - GENERAL
====================================== */

.modal-content,
.modal-body {
  padding: 0;
  width: 100%;
  margin: auto;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.modal.fade .modal-dialog {
  transform: translateY(100px);
  transition: transform 0.3s ease-out, opacity 0.3s ease;
  opacity: 0;
}

.modal.fade.show .modal-dialog {
  transform: translateY(0);
  opacity: 1;
}

.modal-header {
  border: 0;
}

/* =====================================
   MODALS - CANDIDATE
====================================== */

.modal-candidate {
  position: fixed;
  bottom: 0;
  left: 10%;
  right: 10%;
  width: 80vw;
  max-width: 1400px;
  height: 90vh;
  transform: translateX(-50%);
}

.modal-candidate img {
  width: 20%;
  max-width: 450px;
  min-width: 100px;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 100px;
}

.modal-candidate .fav-button {
  font-size: 0.9rem;
  color: black;
  background-color: white;
  border: 0;
}

.modal-candidate .fav-button i {
  color: #E94C82;
  margin-right: 10px;
}

.modal-candidate .fav-button:active {
  background-color: white;
  color: black;
}

.modal-candidate .edit-button,
.modal-candidate .delete-button {
  font-size: 0.9rem;
}

.candidate-modal-content {
  height: 100%;
  overflow-y: auto;
  border-radius: 16px 16px 0 0;
  padding: 2rem;
  align-items: end;
}

.candidate-modal-profile {
  padding: 10px 70px 70px;
  border-bottom: 1px solid #dbdbdb;
}

.candidate-modal-information {
  padding: 30px 70px 70px;
  overflow: hidden;
}

.left-candidate-column {
  width: 70%;
  padding-right: 40px;
}

.right-candidate-column {
  width: 30%;
  background-color: #f0f0f0;
  border-radius: 15px;
  padding: 30px;
}

.candidate-modal-contact {
  font-size: 0.9rem;
}

.candidate-modal-link {
  width: 100%;
  margin-bottom: 6px;
  border: 1px solid rgb(224, 224, 224);
  background: white;
}

/* =====================================
   UPLOAD MODAL
====================================== */

.upload-modal {
  border-radius: 15px !important;
}

.upload-modal .text-muted {
  font-size: 0.8rem;
}

.upload-modal .upload-choice {
  cursor: pointer;
  border-radius: 10px;
}

.upload-modal .upload-choice:hover {
  background-color: rgb(243, 243, 243);
}

.welcome-image {
  width: 90%;
  max-width: 250px;
}

/* =====================================
   NAV TABS
====================================== */

.nav-tabs {
  border: 0;
  padding: 0;
  margin: 0 0 50px 0;
}

.nav-tabs .nav-link {
  border: 0;
  border-bottom: 2px;
  padding: 6px 16px;
  margin: 0;
  color: #333;
  font-size: 0.9rem;
  transition: 0.3s;
}

.nav-tabs .nav-link.active {
  border-bottom: 2px solid black;
  font-weight: 800;
}

.nav-link {
  color: #5f5f5f;
}

.nav-link:hover {
  color: #000;
}

/* =====================================
   DASHBOARD
====================================== */

.nav-link.active {
  border-bottom: 3px solid black;
  color: black;
}

.nav-link {
  padding: 5px;
  font-size: 0.8rem;
  margin-left: 10px;
  margin-right: 10px;
  color: rgb(97, 97, 97);
}

.clear-button {
margin-right: 70px;
background-color: transparent;
border: 0px;
}

.clear-button:hover {
  background-color: transparent;
  color: black;
  }


.page-item .page-link {
  color: #333;     
  border: 0px;
  font-size: 0.8rem;
}

.page-item .page-link:hover {
  background-color: #ffffff;
  color: #000;
}

.page-item.active .page-link {
  background-color: #e7e7e7; 
  color: #000;
  border: 0px;
  border-radius: 100px;
}

.page-link:active {
  background-color: inherit !important;
  box-shadow: none !important;
  transform: none !important;
}

.empty-state-image {
  width: 100%;
  max-width: 150px;
  height: auto;
  margin-bottom: 30px;
}

/* =====================================
   UPLOAD CANDIDATE
====================================== */

.upload-wrapper {
  min-height: 60vh;
  text-align: center;
}

.upload-illustration {
  max-width: 200px;
  height: auto;
  width: 100%;
}

.loading-icon {
  width: 70px;
}

/* =====================================
   SETTINGS PAGE
====================================== */

.settings-profile-pic {
  width: 100px; 
  height: 100px; 
  object-fit: cover;
  margin: auto;
}

/* =====================================
   MEDIA QUERIES
====================================== */

/* Extra Small Devices - Phones */
@media (max-width: 360px) {
  .candidate-card-wrapper {
    width: 100%;
    min-width: 100%;
  }

  .heart-icon,
  .skill-container {
    display: none;
  }

  .candidate-modal-buttons {
    left: 30px;
    top: -20px;
  }

  h1 {
    font-size: 1.6rem;
  }

  .small-h1 {
    font-size: 1.4rem;
  }
}

/* Small Devices - Tablets and Phones */
@media (max-width: 767px) {
  .tab-tabs {
    order: 3;
    width: 100%;
    margin-bottom: 20px;
  }

  .tab-sorting {
    width: 100%;
    order: 2;
    margin-right: 0;
  }

  .tab-fav {
    order: 1;
    width: 100%;
    margin-left: 0;
    text-align: right;
  }

  .candidate-search input {
    font-size: 0.8rem;
  }

  .logged-in-body .cta-button {
    font-size: 0.7rem;
    padding: 10px;
  }

  .logo-img {
    width: 100%;
    max-width: 100px;
    padding-right: 10px;
  }

  .header-logo {
    width: 30%;
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .section-heading {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

/* Medium Devices - Small Laptops and Tablets */
@media (max-width: 900px) {
  #sortForm,
  #favoritesToggle {
    width: 100%;
    justify-content: center;
  }

  .tab-tabs {
    order: 1;
    width: 100%;
    padding-bottom: 30px;
  }

  .tab-sorting {
    width: 40%;
    margin-right: 10%;
    order: 2;
  }

  .tab-fav {
    margin-left: 10%;
    order: 3;
    width: 40%;
    text-align: right;
  }

  .candidate-modal-image {
    display: block !important;
  }

  .candidate-modal-buttons {
    position: absolute;
    right: 30px;
  }

  .candidate-modal-name {
    width: 100%;
    margin-top: 20px;
  }

  .candidate-modal-profile {
    padding: 30px;
  }

  .edit-button,
  .delete-button {
    background-color: #F7F5EF;
    padding: 5px 10px;
    border-radius: 7px;
    color: black;
    width: 40px;
  }

  .edit-button i,
  .delete-button i {
    font-size: 0.8rem;
  }

  .modal-candidate .fav-button i {
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
  }

  .modal-candidate {
    width: 90vw;
    left: 3%;
    right: 3%;
  }

  .candidate-modal-information {
    padding: 30px;
  }
}

/* Large Devices - Standard Laptops */
@media (max-width: 1100px) {
  .modal-candidate {
    width: 90vw;
    left: 3%;
    right: 3%;
  }

  .candidate-modal-information {
    display: block !important;
    font-size: 0.9rem;
  }

  .left-candidate-column {
    width: 100%;
    padding: 0;
  }

  .right-candidate-column {
    width: 100%;
    margin-top: 40px;
  }
}

/* Extra Large Devices - High Resolution Screens */
@media (max-width: 1540px) {
  .label-desktop {
    display: none;
  }

  .edit-button,
  .delete-button {
    background-color: #F7F5EF;
    padding: 10px 15px;
    border-radius: 7px;
    color: black;
  }

  .edit-button:hover,
  .delete-button:hover {
    background-color: #e7e7e6;
    color: black;
  }

  .modal-candidate .fav-button i {
    font-size: 1.4rem;
    padding: 0;
    margin: 0;
  }
}