{% extends "base.html" %}

{% block content %}
  <h1>Candidates</h1>
  <ul class="list-group">
    {% for candidate in candidates %}
      <li class="list-group-item">
        <strong>{{ candidate.name }}</strong> – {{ candidate.email }}<br>
        <small>{{ candidate.top_skills }}</small> <a href="{% url 'candidate_detail' candidate.id %}" class="btn btn-primary btn-sm">View Profile</a> <a href="{% url 'candidate_edit' candidate.pk %}" class="btn btn-primary">Edit Candidate</a>
      </li>
    {% empty %}
      <li class="list-group-item">No candidates yet.</li>
    {% endfor %}
  </ul>

<a href="{% url 'dashboard' %}" class="btn btn-primary btn-sm">← Back to dashboard</a>
{% endblock %}