{% extends "base.html" %}
{% block content %}

<div class="container hero">

    <form class="d-flex align-items-center gap-2 w-100 candidate-search">
      <input type="text" class="form-control px-4 py-3 border-1 shadow-none" placeholder="Who are you looking for?">
      <button class="btn button-base scn-button d-flex justify-content-center align-items-center rounded-circle" type="submit">
        <i class="fas fa-search"></i>
      </button>
    </form>
 <div>
    <h1>Your all-in-one hub for candidate profiles</h1>
    <p>All your candidate data – CVs, tests, notes – searchable, structured, and powered by AI.</p>
    <a href="{% url 'signup' %}" class="btn button-base cta-button">Create account</a>
  </div>

</div>

  {% if candidates %}
    <ul class="list-group">
      {% for candidate in candidates %}
      <li class="list-group-item">
        <strong>{{ candidate.name }}</strong> – {{ candidate.email }}<br>
        <small>{{ candidate.top_skills }}</small> <a href="{% url 'candidate_detail' candidate.id %}" class="btn btn-primary btn-sm">View Profile</a> <a href="{% url 'candidate_edit' candidate.pk %}" class="btn btn-primary">Edit Candidate</a>
      </li>      
      {% endfor %}
    </ul>
  {% else %}
    <p>No candidates yet.</p>
  {% endif %}

  <div class="mt-4">
    <a href="{% url 'candidate_list' %}" class="btn btn-outline-primary">View all candidates</a>
  </div>

  <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Log out</button>
  </form>

</div>

{% endblock %}