{% if candidate.files.all %}
    <ul class="list-group">
    {% for f in candidate.files.all %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{{ f.file.url }}" target="_blank">{{ f.file.name|slice:"25" }}</a>
            <button class="btn btn-sm btn-danger delete-file-btn" data-file-id="{{ f.id }}">
                <i class="fas fa-trash"></i>
            </button>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No files uploaded yet.</p>
{% endif %}