{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container py-5">

  <div id="flashMessage" class="alert alert-success d-none" role="alert">Files uploaded successfully!</div>
  <div id="fileUploadArea" class="border rounded p-4 text-center mb-4">
    <img src="{% static 'media/images/upload-candidate.png' %}" alt="Upload illustration" class="upload-illustration mb-4">
    <h1 class="small-h1 mb-2">One PDF in – full candidate profile out!</h1>
    <p class="text-muted">Upload a CV and let our AI instantly generate a structured candidate overview.</p>
    <input type="file" id="fileElem" accept=".pdf" name="file" style="display:none">
    <label for="fileElem" class="btn btn-primary mb-3 button-base scn-button mt-3">Select Files</label>
  </div>

  <div id="uploadResults"></div>

  <!-- CSRF -->
  <form id="csrfTokenForm" style="display:none;">
    {% csrf_token %}
  </form>
</div>

{% endblock %}